n8n-workflows/Алихан_Calendar_Reminders.json
{
  "id": "nsox5DrKIF1KLUYi",
  "name": "Алихан Calendar Reminders",
  "active": 1,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -880,
        -16
      ],
      "id": "5db8367d-d003-4469-aec0-9b498296f52f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  chat_id,\n  title,\n  description,\n  location,\n  timezone,\n  remind_minutes_before,\n  to_char(event_start AT TIME ZONE timezone, 'YYYY-MM-DD HH24:MI') AS event_start_local,\n  to_char(remind_at AT TIME ZONE timezone, 'YYYY-MM-DD HH24:MI') AS remind_at_local\nFROM bot_calendar_events\nWHERE status = 'active'\n  AND COALESCE(reminder_sent, FALSE) = FALSE\n  AND remind_at IS NOT NULL\n  AND remind_at <= NOW()\nORDER BY remind_at ASC, id ASC\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        -16
      ],
      "id": "ab9323bf-35ff-4627-b43e-1f74cc22e6a7",
      "name": "Get Due Calendar Reminders",
      "credentials": {
        "postgres": {
          "id": "Q05KuqQtYjbdgucJ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c4034c-c482-4d4d-bd55-9a47447db900",
              "name": "id",
              "value": "={{$json.id}}",
              "type": "string"
            },
            {
              "id": "9f3fafe6-fee9-4c87-902d-5dd9023141c7",
              "name": "number",
              "value": "={{$json.chat_id}}",
              "type": "string"
            },
            {
              "id": "f023bc93-22db-4a90-a9c9-993e5804baea",
              "name": "text",
              "value": "={{\"Напоминание по календарю.\\n\\n\" + ($json.remind_minutes_before ? (\"Через \" + $json.remind_minutes_before + \" мин.:\\n\") : \"\") + $json.title + \"\\nКогда: \" + $json.event_start_local + \" (\" + $json.timezone + \")\\nГде: \" + ($json.location || \"не указано\") + \"\\nID события: \" + $json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -16
      ],
      "id": "d7a05acd-a317-4548-981d-dbaf3ee607f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/message/sendText/bot1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "SuperSecretKey_Grok2026_!@#"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\nJSON.stringify({\n  number: String($json.number || \"\"),\n  text: String($json.text || \"\")\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        -16
      ],
      "id": "30afa8dd-e2e4-4478-a665-1061c77d4402",
      "name": "WhatsApp Calendar Reminder"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bot_calendar_events\nSET reminder_sent = TRUE,\n    updated_at = NOW()\nWHERE id = {{$('Get Due Calendar Reminders').item.json.id}}\n  AND status = 'active'\n  AND reminder_sent = FALSE\nRETURNING id, reminder_sent, updated_at;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        -16
      ],
      "id": "905ccfac-275b-498a-a86c-e97bc2152d94",
      "name": "Mark Calendar Reminder Sent",
      "credentials": {
        "postgres": {
          "id": "Q05KuqQtYjbdgucJ",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Due Calendar Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Calendar Reminders": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "WhatsApp Calendar Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Calendar Reminder": {
      "main": [
        [
          {
            "node": "Mark Calendar Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "triggerCount": 1,
  "createdAt": "2026-05-04 20:19:39.460",
  "updatedAt": "2026-05-04 20:38:26.151",
  "description": null
}